<div class="card">
  <%= link_to(image_tag(prototype.image.variant(resize: '500x500'), class: 'card__img'), prototype_path(prototype)) if prototype.image.attached? %>
  <div class="card__body">
      <%= prototype.title %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "byユウト", user_path(prototype), class: :card__user %>
  </div>
</div>